.home-section {
    background-color: #b0e0e6; /* Baby blue */
    color: #333333;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
  }
  
  .home-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .home-content p {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
  
  .cta-button {
    background-color: #1e90ff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .cta-button:hover {
    background-color: #333333;
  }
  